{% extends 'layout.html' %}

{% block subTitle %}brugsbetingelser{% endblock %}

{% block css %}
<link media='all' type='text/css' href='/css/disclaimer.css' rel='stylesheet'/>
{% endblock %}

{% block content %}
<div class='box'>
    <p>Denne side er lavet som et værktøj til at gemme lånte e-bøger fra eReolen.dk i ePub format.</p>
    <p>Formålet er primært at gøre det muligt at læse lånte bøger på eBook-readers.</p>
    <p>Der bliver ikke gemt noget kopibeskyttet indhold på serveren og ingen informationer logges.</p>
    <p>Det er brugerens ansvar at overholde retningslinerne om e-bøger lånt fra eReolen.dk.<br/>
        Dette indebærer blandt andet at slette filer med lånte bøger når lånet udløber, og ikke at dele lånt indhold med
        andre.</p>
    <p>Ejeren af eReol.net fralægger sig ethvert ansvar for hvad siden og resulterende filer bliver brugt til.</p>
</div>
{% endblock %}