<!doctype html>
<html>
<head>
    <meta charset='utf-8'>
    <title>epub.xar.io - {% block subTitle %}subTitle{% endblock %}</title>
    <link type='text/css' href='//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/black-tie/jquery-ui.min.css'
          rel='stylesheet'/>
    <link type='text/css' href='/css/style.css' rel='stylesheet'/>
    <link href="data:image/x-icon;base64,AAABAAEAICAAAAEAIACoEAAAFgAAACgAAAAgAAAAQAAAAAEAIAAAAAAAABAAABILAAASCwAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAP8AAAD/AAAA/wAAAP8AAAD/AAAA/wAAAP8AAAD/
AAAA/wAAAP8AAAD/AAAA/wAAAP8AAAD/AAAA/wAAAP8AAAD/AAAA/wAAAP8AAAD/AAAA/wAAAP8A
AAD/AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAP8AAAD/AAAA/wAiAP8AIgD/ACIA/wAi
AP8AIgD/ACIA/wAiAP8AIgD/ACIA/wAiAP8AIgD/ACIA/wAiAP8AIgD/ACIA/wAiAP8AIgD/ACIA
/wAiAP8AIgD/ACIA/wAAAP8AAAD/AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAD/AAAA/wAiAP8AIgD/
ACIA/wAAAP8AAAD/AAAA/wAAAP8AAAD/AAAA/wAAAP8AAAD/AAAA/wAAAP8AAAD/AAAA/wAAAP8A
AAD/AAAA/wAAAP8AAAD/AAAA/wAAAP8AIgD/ACIA/wAAAP8AAAD/AAAAAAAAAAAAAAAAAAAA/wAA
AP8AIgD/ACIA/wAAAP8AAAD/AAAA/xEREf8RERH/ERER/xEREf8RERH/IiIi/yIiIv8iIiL/IiIi
/zMzM/8zMzP/MzMz/zMzM/8zMzP/MzMz/zMzM/8zMzP/MzMz/wAAAP8AIgD/AAAA/wAAAP8AAAAA
AAAAAAAAAAAAAAD/AAAA/wAiAP8AAAD/AAAA/wAAAP8AAAD/AAAA/wAAAP8AAAD/AAAA/wAAAP8A
AAD/AAAA/wAAAP8AAAD/AAAA/wAAAP8AAAD/AAAA/wAAAP8AAAD/AAAA/wAAAP8zMzP/MzMz/wAi
AP8AAAD/AAAA/wAAAAAAAAAAAAAAAAAAAP8AAAD/ACIA/wAAAP8AAAD/AAAA/wAAAP8AAAD/AAAA
/wAAAP8AAAD/AAAA/wAAAP8AAAD/AAAA/wAAAP8AAAD/AAAA/wAAAP8AAAD/AAAA/wAAAP8AAAD/
AAAA/wAAAP9mZmb/ACIA/wAAAP8AAAD/AAAAAAAAAAAAAAAAAAAA/wAAAP8AdwD/AFUA/wBVAP8A
VQD/AFUA/wBVAP8AVQD/AFUA/wBVAP8AVQD/AFUA/wBVAP8AVQD/AFUA/wBVAP8AVQD/AFUA/wBV
AP8AVQD/AFUA/wBVAP8AAAD/AAAA/6qqqv8AIgD/AAAA/wAAAP8AAAAAAAAAAAAAAAAAAAD/AAAA
/zPMM/8AdwD/ACIA/wBVAP8zzDP/AHcA/wB3AP8AdwD/AHcA/wB3AP8AdwD/AHcA/wB3AP8AdwD/
AHcA/wB3AP8AdwD/AHcA/wB3AP8AdwD/AFUA/wAAAP8AAAD/qqqq/wAiAP8AAAD/AAAA/wAAAAAA
AAAAAAAAAAAAAP8AAAD/M8wz/wB3AP8AIgD/AFUA/zPMM/8AdwD/AHcA/wB3AP8AdwD/AHcA/wB3
AP8AdwD/AHcA/wB3AP8AdwD/AHcA/wB3AP8AdwD/AHcA/wB3AP8AVQD/AAAA/wAAAP//////ACIA
/wAAAP8AAAD/AAAAAAAAAAAAAAAAAAAA/wAAAP8zzDP/AHcA/wAiAP8AVQD/M8wz/wB3AP8AdwD/
AHcA/wB3AP8AdwD/AHcA/wB3AP8AdwD/AHcA/wB3AP8AdwD/AHcA/wB3AP8AdwD/AHcA/wBVAP8A
AAD/AAAA//////8AIgD/AAAA/wAAAP8AAAAAAAAAAAAAAAAAAAD/AAAA/zPMM/8AdwD/ACIA/wBV
AP8zzDP/AHcA/wB3AP8AdwD/AHcA/wB3AP8AdwD/AHcA/wB3AP8AdwD/AHcA/wB3AP8AdwD/AHcA
/wB3AP8AdwD/AFUA/wAAAP8AAAD//////wAiAP8AAAD/AAAA/wAAAAAAAAAAAAAAAAAAAP8AAAD/
M8wz/wB3AP8AIgD/AFUA/zPMM/8AdwD/AHcA/wB3AP8AdwD/AHcA/wB3AP8AdwD/AHcA/wB3AP8A
dwD/AHcA/wB3AP8AdwD/AHcA/wB3AP8AVQD/AAAA/wAAAP//////ACIA/wAAAP8AAAD/AAAAAAAA
AAAAAAAAAAAA/wAAAP8zzDP/AHcA/wAiAP8AVQD/M8wz/wB3AP8AdwD/AHcA/wB3AP8AdwD/AHcA
/wB3AP8AdwD/AHcA/wB3AP8AdwD/AHcA/wB3AP8AdwD/AHcA/wBVAP8AAAD/AAAA//////8AIgD/
AAAA/wAAAP8AAAAAAAAAAAAAAAAAAAD/AAAA/zPMM/8AdwD/ACIA/wBVAP8zzDP/AHcA/wB3AP8A
dwD/AHcA/wB3AP8AdwD/AHcA/wB3AP8AdwD/AHcA/wB3AP8AdwD/AHcA/wB3AP8AdwD/AFUA/wAA
AP8AAAD//////wAiAP8AAAD/AAAA/wAAAAAAAAAAAAAAAAAAAP8AAAD/M8wz/wB3AP8AIgD/AFUA
/zPMM/8AdwD/AHcA/wB3AP8AdwD/AHcA/wB3AP8AdwD/AHcA/wB3AP8AdwD/AHcA/wB3AP8AdwD/
AHcA/wB3AP8AVQD/AAAA/wAAAP//////ACIA/wAAAP8AAAD/AAAAAAAAAAAAAAAAAAAA/wAAAP8z
zDP/AHcA/wAiAP8AVQD/M8wz/wB3AP8AdwD/AHcA/wB3AP8AdwD/AHcA/wB3AP8AdwD/AHcA/wB3
AP8AdwD/AHcA/wB3AP8AdwD/AHcA/wBVAP8AAAD/AAAA//////8AIgD/AAAA/wAAAP8AAAAAAAAA
AAAAAAAAAAD/AAAA/zPMM/8AdwD/ACIA/wBVAP8zzDP/AHcA/wB3AP8AdwD/AHcA/wB3AP8AdwD/
AHcA/wB3AP8AdwD/AHcA/wB3AP8AdwD/AHcA/wB3AP8AdwD/AFUA/wAAAP8AAAD//////wAiAP8A
AAD/AAAA/wAAAAAAAAAAAAAAAAAAAP8AAAD/M8wz/wB3AP8AIgD/AFUA/zPMM/8AdwD/AHcA/wB3
AP8AdwD/AHcA/wB3AP8AdwD/AHcA/wB3AP8AdwD/AHcA/wB3AP8AdwD/AHcA/wB3AP8AVQD/AAAA
/wAAAP//////ACIA/wAAAP8AAAD/AAAAAAAAAAAAAAAAAAAA/wAAAP8zzDP/AHcA/wAiAP8AVQD/
M8wz/wB3AP8AdwD/AHcA/wB3AP8AdwD/AHcA/wB3AP8AdwD/AHcA/wB3AP8AdwD/AHcA/wB3AP8A
dwD/AHcA/wBVAP8AAAD/AAAA//////8AIgD/AAAA/wAAAP8AAAAAAAAAAAAAAAAAAAD/AAAA/zPM
M/8AdwD/ACIA/wBVAP8zzDP/AHcA/wB3AP8AdwD/AHcA/wB3AP8AdwD/AHcA/wB3AP8AdwD/AHcA
/wB3AP8AdwD/AHcA/wB3AP8AdwD/AFUA/wAAAP8AAAD//////wAiAP8AAAD/AAAA/wAAAAAAAAAA
AAAAAAAAAP8AAAD/M8wz/wB3AP8AIgD/AFUA/zPMM/8AdwD/AHcA/wB3AP8AdwD/AHcA/wB3AP8A
dwD/AHcA/wB3AP8AdwD/AHcA/wB3AP8AdwD/AHcA/wB3AP8AVQD/AAAA/wAAAP//////ACIA/wAA
AP8AAAD/AAAAAAAAAAAAAAAAAAAA/wAAAP8zzDP/AHcA/wAiAP8AVQD/M8wz/wB3AP8AdwD/AHcA
/wB3AP8AdwD/AHcA/wB3AP8AdwD/AHcA/wB3AP8AdwD/AHcA/wB3AP8AdwD/AHcA/wBVAP8AAAD/
AAAA//////8AIgD/AAAA/wAAAP8AAAAAAAAAAAAAAAAAAAD/AAAA/zPMM/8AdwD/ACIA/wBVAP8z
zDP/AHcA/wB3AP8AdwD/AHcA/wB3AP8AdwD/AHcA/wB3AP8AdwD/AHcA/wB3AP8AdwD/AHcA/wB3
AP8AdwD/AFUA/wAAAP8AAAD//////wAiAP8AAAD/AAAA/wAAAAAAAAAAAAAAAAAAAP8AAAD/M8wz
/wB3AP8AIgD/AFUA/zPMM/8AdwD/AHcA/wB3AP8AdwD/AHcA/wB3AP8AdwD/AHcA/wB3AP8AdwD/
AHcA/wB3AP8AdwD/AHcA/wB3AP8AVQD/AAAA/wAAAP//////ACIA/wAAAP8AAAD/AAAAAAAAAAAA
AAAAAAAA/wAAAP8zzDP/AHcA/wAiAP8AVQD/M8wz/wB3AP8AdwD/AHcA/wB3AP8AdwD/AHcA/wB3
AP8AdwD/AHcA/wB3AP8AdwD/AHcA/wB3AP8AdwD/AHcA/wBVAP8AAAD/AAAA//////8AIgD/AAAA
/wAAAP8AAAAAAAAAAAAAAAAAAAD/AAAA/zPMM/8AdwD/ACIA/wBVAP8zzDP/AHcA/wB3AP8AdwD/
AHcA/wB3AP8AdwD/AHcA/wB3AP8AdwD/AHcA/wB3AP8AdwD/AHcA/wB3AP8AdwD/AFUA/wAAAP8A
AAD//////wAiAP8AAAD/AAAA/wAAAAAAAAAAAAAAAAAAAP8AAAD/M8wz/wB3AP8AIgD/AFUA/zPM
M/8AdwD/AHcA/wB3AP8AdwD/AHcA/wB3AP8AdwD/AHcA/wB3AP8AdwD/AHcA/wB3AP8AdwD/AHcA
/wB3AP8AVQD/AAAA/wAAAP//////ACIA/wAAAP8AAAD/AAAAAAAAAAAAAAAAAAAA/wAAAP8zzDP/
AHcA/wAiAP8AVQD/M8wz/wB3AP8AdwD/AHcA/wB3AP8AdwD/AHcA/wB3AP8AdwD/AHcA/wB3AP8A
dwD/AHcA/wB3AP8AdwD/AHcA/wBVAP8AAAD/AAAA/wAAAP8AAAD/AAAA/wAAAP8AAAAAAAAAAAAA
AAAAAAD/AAAA/zPMM/8AdwD/ACIA/wBVAP8zzDP/AHcA/wB3AP8AdwD/AHcA/wB3AP8AdwD/AHcA
/wB3AP8AdwD/AHcA/wB3AP8AdwD/AHcA/wB3AP8AdwD/AFUA/wAAAP8AAAD/AAAA/wAAAP8AAAD/
AAAAAAAAAAAAAAAAAAAAAAAAAP8AAAD/AAAA/zPMM/8AdwD/AHcA/zPMM/8zzDP/M8wz/zPMM/8z
zDP/M8wz/zPMM/8zzDP/M8wz/zPMM/8zzDP/M8wz/zPMM/8zzDP/M8wz/zPMM/8AdwD/AAAA/wAA
AP8AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA/wAAAP8AAAD/AAAA/wAAAP8AAAD/AAAA
/wAAAP8AAAD/AAAA/wAAAP8AAAD/AAAA/wAAAP8AAAD/AAAA/wAAAP8AAAD/AAAA/wAAAP8AAAD/
AAAA/wAAAP8AAAD/AAAA/wAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA/wAAAP8A
AAD/AAAA/wAAAP8AAAD/AAAA/wAAAP8AAAD/AAAA/wAAAP8AAAD/AAAA/wAAAP8AAAD/AAAA/wAA
AP8AAAD/AAAA/wAAAP8AAAD/AAAA/wAAAP8AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA+AAA
D+AAAAfAAAADgAAAA4AAAAOAAAADgAAAA4AAAAOAAAADgAAAA4AAAAOAAAADgAAAA4AAAAOAAAAD
gAAAA4AAAAOAAAADgAAAA4AAAAOAAAADgAAAA4AAAAOAAAADgAAAA4AAAAOAAAADgAAAA4AAAAeA
AAA/gAAAP8AAAH8=" rel="icon" type="image/x-icon"/>
    {% block css %}{% endblock %}
    <script src='//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js'></script>
    <script src='//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js'></script>
    <script src='/js/shared.js'></script>
    {% block script %}{% endblock %}
</head>
<body>
<div id="header">
    <span id='title'></span>
    {% if errorMessage %}
    <div id='errorWrapper'>
        <div id='error'>
            {{ errorMessage }}
        </div>
    </div>
    {% endif %}
    <div id='menu'>
        <ul id='menuList'>
            {% for item in menu %}
            <li class='menuItem'>
                <a href='{{ item.link }}'>{{ item.name }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
<div id="background">
    {% block content %}{% endblock %}
</div>
</body>
</html>